
*{
    text-decoration: none;
    margin: 0;

}
html{

    background: url("https://phonoteka.org/uploads/posts/2023-03/1680273045_phonoteka-org-p-romashki-fon-dlya-rabochego-stola-foni-kra-61.jpg") no-repeat burlywood  ;
    background-size: cover;
}

#header{
    background-color: aqua;
    color: #1e27d2;
}

.style {
    color: #5eff00;
}
.py{
    background: burlywood;
    color: #1e27d2;
    font-size: 18px;
}
p i{
    color: crimson;
}
p#example:first-letter {
    color: #188633;
}


p:active{background: blue ;}

#example{
    font-size: 24px;
}

p#example:first-line{
    color: darkgoldenrod;
}
.href{
    color: deeppink;
}
.href:hover{
    color: #188633;
}
.href:active{
    color: aqua;
}
.href:visited{
    color: darkgoldenrod;
}
p{
 text-indent: 1.1em;
}
#textStyles{
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase ;
    word-spacing: 10px ;
    letter-spacing: 10px;
    line-height: 200%;

 }
#testBlock{
    border: 2px dashed silver;
    height: 200px;
    width: 500px;
    background-color: aliceblue;
    margin:10px 10px 10px 10px;
    padding: 10px;
    border-radius: 30px;
}
header{
    width: calc(100% - 20px);
    height: 50px;
    background-color: #fff;
    border-bottom: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    font-family: "Arial Black";
    float: left;
}
article, aside{
    background-color: aliceblue;
    min-height: 400px;
    border-radius: 5px;
    border: 1px solid silver ;
    box-sizing:border-box ;
    margin-top: 20px;
    float: left;
    padding: 15px;
}
article{
    width: 60% ;
    margin-left: 5%;
    margin-right: 5%;
    clear: right;

}
aside{
    width: 25%;

}
aside ul{
    width: 80%;
    margin-left: 10%;

}
footer{
    width: calc(100% - 20px);
    height: 50px;
    float: left;
    margin-top: 20px;
    background-color: #fff;
    border-top: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    font-family: "Arial Black";
}
.spanBlock{
    display:block;
    height: 50px;
    width: 100px;
    border: 1px solid red;
    overflow: scroll;
}